.App {
  text-align: center;
}

nav {
  background-color: #333;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  background-color: #555;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #777;
}